---
const { title, date, desc, logo, tech } = Astro.props;
---

<div class="single-item">
  <h3>{title}</h3>
  <div class="projects-category-image-container">
    <img src={logo} loading="lazy" alt="" class="projects-category-image" />
  </div>
  <h2>{date}</h2>
  <div class="project-desc project-desc-list w-richtext">
    <ul role="list">
      {desc.map(item => <li>{item}</li>)}
    </ul>
  </div>
  <div class="mini-label-white">Technologies &amp; tools</div>
  <div class="chips-container">
    {tech.map(techItem => <div class="single-chip">{techItem}</div>)}
  </div>
</div>
